faiss-cpu==1.8.0.post1
langchain
langchain-community
langchain-huggingface
langchain-core
langgraph
fastapi
uvicorn
pydantic
requests
python-dotenv
chromadb
sentence-transformers
transformers
accelerate
beautifulsoup4
lxml
html5lib
huggingface_hub[hf_xet]
trafilatura